.container-addpost {
  text-align: center;
  font-size: 2.5rem;
  width: 100%;
}

.flex-addpost {
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

.flex-item-addpost:nth-of-type(1) {
  order: 2;
}
.flex-item-addpost:nth-of-type(2) {
  order: 3;
}
.flex-item-addpost:nth-of-type(3) {
  order: 4;
}
.flex-item-addpost:nth-of-type(4) {
  order: 1;
}

.flex-item-addpost {
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;
  padding: 0.5rem;
}

.add-note-btn {
  font-size: 1rem;
  margin: auto;
  width: 150px;
  height: 40px;
}

.title-input {
  height: 2rem;
}
